@model IEnumerable<TiendaEnLinea.Models.Articulo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categorias.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Productor.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticuloArtUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categorias.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Productor.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArticuloArtUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArticuloId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArticuloId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArticuloId })
        </td>
    </tr>
}

</table>
